*
!.gitignore
!application*
!contact-book-*.properties
!gateway-*.properties
!location-*.properties
!water-actor-*.properties
!water-management-*.properties
!water-technology-*.properties
!weather-*.properties